<!-- templates/accounts/password_reset.html -->

{% extends 'bases/base.html' %}
{% load static %}

{% block content %}
<form class="account-container mod-box-xs" method="post">
	{% csrf_token %}
	<div class="account-headers">
		<div class="account-title">Reset Your Password</div>
	</div>
	<div  class="account-content">
		<div class="user-account-row">
			<div class="text-s grey">Enter your email below to receive instructions for resetting your password.</div>
		</div>
		{% if error_message %}
			<div class="user-account-row">
				<div class="invalid-authentication">{{error_message}}</div>
			</div>
		{% endif %}
		{% for field in form %}
			<div class="user-account-row">
				<div class="user-account-subheader">{{field.label_tag}}</div>
				{{field}}
			</div>
		{% endfor %}
		<div class="user-btn-container">
			<button type="submit" class="btn btn-regular">Send Email</button>
		</div>
	</div>
</form>
{% endblock %}