<!-- templates/accounts/password_reset_confirm.html -->

{% extends 'bases/base.html' %}

{% block content %}
<form class="account-container mod-box-xs" method="post">
	{% csrf_token %}
	<div class="account-headers">
		<div class="account-title">Choose a New Password</div>
	</div>
	<div class="account-content">
		{% if form.errors %}
		<div class="user-account-row">
			{% for field in form %}
				{% for error in field.errors %}
					<div class="invalid-authentication">{{error|escape}}</div>
				{% endfor %}
				{% for error in form.non_field_errors %}
					<div class="invalid-authentication">{{error|escape}}</div>
				{% endfor %}
			{% endfor %}
		</div>
		{% endif %}
		{% for field in form %}
			<div class="user-account-row">
				<div class="user-account-subheader">{{field.label_tag}}</div>
				{{field}}
			</div>
		{% endfor %}
		<div class="user-btn-container">
			<button type="submit" class="btn btn-regular">Reset Password</button>
		</div>
	</div>
</form>
{% endblock %}